.ImageRecognitionQuestion {
  display: flex;
  flex-direction: row;
}

.question.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.question.box {
  background: #fff;
  border: 1px solid #999;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
}

.question.box.selected {
  background: #00ff00;
  border: 1px solid #999;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
}

.question.box.selected:hover {
  background: #00ff00;
}

.question.box:hover {
  cursor: pointer;
  background: #d3d3d3;
}

.question.box:active {
  background: #00ff00;
}

.question.box-border {
  background: #fff;
  float: left;
  font-size: 2rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
  font-family: 'HelveticaNeue';
}

img {
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  padding: 0 0 0 0;
}
